archive
assets
background.png
changelog.txt
config.json
copy-readme.txt
detailstemplate.html
icon.ico
post.update
Pre-Tamper
readme.txt
readmeparser.py
recovered
save-files-pre-V1.5-BACKUP
temp
upd.ico